<table class="property-table">
   <h2> Objekt Informationen </h2>
   <thead>
      <tr class="row-height">
         <th>
            <p style="color: #333333;">
               <strong>Property</strong>
            </p>
         </th>
         <th><strong>Value</strong></th>
      </tr>
   </thead>
   <tbody>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Objekt-ID</strong></td>
         <td class="col2" class="left-align">
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align">Titel<strong></strong></td>
         <td class="col2" class="left-align">
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Titelvarianten</strong></td>
         <td class="col2" class="left-align">
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Urheber*in / Verantwortliche Person</strong></td>
         <td class="col2" class="left-align">
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Quelle / Archiv</strong></td>
         <td class="col2" class="left-align">
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Sichtbare oder rekonstruierbare Personen</strong></td>
         <td class="col2" class="left-align">
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Entstehungsjahr</strong></td>
         <td class="col2" class="left-align">
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Ort der Entstehung / Nutzung</strong></td>
         <td class="col2" class=left-align">
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Gattung / Genre</strong></td>
         <td class="col2" class="left-align">
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Technik</strong></td>
         <td class="col2" class="left-align">
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Dimensionen</strong></td>
         <td class="col2" class="left-align">
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Kurzbeschreibung / Inhaltliche Zusammenfassung</strong></td>
         <td class="col2" class="left-align">
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Antiziganistische / Stigmatisierende Elemente / Ambivalente Elemente</strong></td>
         <td class="col2" class="left-align">
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Motive / Topoi </strong></td>
         <td class="col2" class="left-align">
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Narrative / Diskurse</strong></td>
         <td class="col2" class="left-align">
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Historischer Kontext</strong></td>
         <td class="col2" class="left-align">

         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Agency</strong></td>
         <td class="col2" class="left-align">
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Verknüpfung</strong></td>
         <td class="col2" class="left-align">
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Narrativwandel bei Medienwechsel</strong></td>
         <td class="col2" class="left-align">
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Rezeptionsweg</strong></td>
         <td class="col2" class="left-align">
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Provenienz</strong></td>
         <td class="col2" class="left-align">
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Literatur</strong></td>
         <td class="col2" class="left-align">
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Ausstellungen / Aufführungen / Veröffentlichungen</strong></td>
         <td class="col2" class="left-align">
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Objekt- oder Werkteil</strong></td>
         <td class="col2" class="left-align">
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Rechte / Lizenzen</strong></td>
         <td class="col2" class="left-align">
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Digitalisat-Link/Pfad</strong></td>
         <td class="col2" class="left-align">

         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Metadaten-Status</strong></td>
         <td class="col2" class="left-align">
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Erfasst von</strong></td>
         <td class="col2" class="left-align">
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Erfassungsdatum</strong></td>
         <td class="col2" class="left-align">

         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Kommentar / Anmerkung</strong></td>
         <td class="col2" class="left-align">
         </td>
      </tr>
      <tr class="row-height">
         <td class="col1" class="left-align"><strong>Versionsgeschichte</strong></td>
         <td class="col2" class="left-align">
         </td>
      </tr>
   </tbody>
</table>